DEFAULT_LANGUAGE="en"
API_URL="http://10.0.2.2:8090"
CAP_FEED_URL="http://localhost/capfeed.php"
DATA_PRODUCER="gfs_surface"
GOOGLE_API_KEY=""
AUTOCOMPLETE_KEYWORD="extended_names"
WEEKDAY_LIST_LENGTH=10
UNIT_TEMPERATURE=1
UNIT_PRECIPITATION=1
UNIT_WIND=1
UNIT_PRESSURE=1
WMS_CUSTOMER="mobile"
WMS_TIMESTEPS=20
