API_URL=http://10.0.2.2:8090
DATA_PRODUCER=gfs_surface
AUTOCOMPLETE_KEYWORD=extended_names
WEEKDAY_LIST_FORECAST_HOUR=14
WEEKDAY_LIST_LENGTH=10
UNIT_TEMPERATURE=2
UNIT_PRECIPITATION=2
UNIT_WIND=1
UNIT_PRESSURE=1
